
body {
    width: 100vw;
    height: 8vh;
    border-bottom: 1px solid #96897f;
    background-color: #4d4541;
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 1vh 0 0 1vw;
    color: white;
}