body{
  background-color: #625750;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
}

.header {
  width: 100vw;
  height: 8vh;
  border-bottom: 1px solid #96897f;
  background-color: #4d4541;
  display: flex;
  justify-content: space-between;
}

.header > h1 {
  margin-top: 0;
  margin-left: 1vw;
  padding-top: 1vh;
}

.create-button{
  border: 1px solid whitesmoke;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  margin-top: 1.5vh;
  margin-right: 1vw;
  padding: 1vh;
  transition: 0.2s;
}

.create-button:hover{
  transition: 0.2s;
  background-color: #c6bcb6;
  color: black;
  cursor: pointer;
}